<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a routerLink="/home" routerLinkActive="active"  class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/about" routerLinkActive="active"  class="nav-link">Lazy Route</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
  <div class="card-block">
    <router-outlet></router-outlet>
  </div>
</div>
